* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

html {
  font-size: 80%; }
  html body {
    font-family: "Mate SC", serif; }
    html body header {
      background: #202430;
      color: white; }
    html body main {
      background: linear-gradient(to bottom, #202430, #b4a5a5);
      color: white; }
    html body section {
      background: linear-gradient(to bottom, #202430, #b4a5a5);
      color: white; }
    html body footer {
      background: #202430;
      color: white; }

a {
  text-decoration: none; }

h4 {
  color: blueviolet;
  text-decoration: solid; }

button:hover {
  cursor: pointer; }

fieldset {
  color: #8458b3;
  padding: 1vh; }
  fieldset li {
    list-style-type: none; }

/* clases bootstrap */
#menu a {
  font-weight: 500;
  font-size: 1.25rem;
  font-weight: bold;
  color: white; }

.header__logo {
  height: 15vh; }

.margin__logo {
  margin-left: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.dropdown-menu {
  background-color: #474747; }
  .dropdown-menu li a:hover {
    background-color: #212529; }

.card-title,
.card-text {
  color: black; }

.foto__logo {
  height: 10vh; }

.titulo__forms, .div__banner, .foto__center, .redes__footer, .col .titulo {
  display: flex;
  align-items: center;
  flex-direction: column; }

.li__footer {
  display: flex;
  list-style: none;
  gap: 1vh; }

.gap__footer {
  display: flex;
  flex-direction: column;
  gap: 1.75vw; }

.redes__footer {
  color: #8458b3;
  margin-top: 1vw; }

.titulo_nos {
  font-size: 500%;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.text_nos {
  font-size: 150%; }

.texto__nosotros {
  display: flex;
  flex-direction: column;
  font-size: 150%;
  justify-content: center; }

.card {
  padding: 1vh; }

.col__pad {
  padding: 2vh; }

.col {
  margin-bottom: 5vh;
  margin-top: 5vh; }

.card {
  margin: 18px;
  background-color: #202430; }
  .card p,
  .card h5 {
    color: white; }

@media (max-width: 1023px) {
  .ocultar {
    display: none; }
  .logo__centro {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .margin__logo {
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .foot {
    display: flex;
    align-items: flex-start; } }

.btn-flotante {
  font-size: 25px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #4e4e4e3d;
  padding: 0 10px;
  position: fixed;
  bottom: 20px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 5px 5px 5px rgb 0 0 0/50%;
  z-index: 99;
  cursor: pointer;
  text-decoration: none; }

.btn-flotante:hover {
  color: #8458b3; }

.linea__separadora, .linea__separadora__cs, .linea__separadora__valorant, .linea__separadora__tienda, .linea__separadora__tienda2 {
  margin: 10px auto;
  width: 65%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); }

.linea__separadora__cs {
  width: 40%; }

.linea__separadora__valorant {
  width: 30%; }

.linea__separadora__tienda {
  width: 45%; }

.linea__separadora__tienda2 {
  width: 35%; }

.navbar-light .navbar-toggler {
  background-color: #ffffff33; }

.img__tabla {
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 5vh;
  margin-bottom: 5vh; }

@media (max-width: 767px) {
  .chau__tabla {
    display: none; } }

.margen__nombre {
  margin-right: 1vh; }

.btn-primary {
  background-color: #8458b3;
  border-color: #ffffff33; }
  .btn-primary:hover {
    background-color: wheat;
    color: #8458b3; }
